/**
 * Kuijpers Brand Colors
 * CSS custom properties for brand colors
 */

:root {
  /* Primary Colors */
  --kuijpers-primary: #0066CC;
  --kuijpers-primary-light: #3385D6;
  --kuijpers-primary-dark: #004C99;
  
  /* Secondary Colors */
  --kuijpers-secondary: #FF6B00;
  --kuijpers-secondary-light: #FF8533;
  --kuijpers-secondary-dark: #CC5500;
  
  /* Neutral Colors */
  --kuijpers-white: #FFFFFF;
  --kuijpers-black: #000000;
  --kuijpers-gray-100: #F5F5F5;
  --kuijpers-gray-200: #E5E5E5;
  --kuijpers-gray-300: #D4D4D4;
  --kuijpers-gray-400: #A3A3A3;
  --kuijpers-gray-500: #737373;
  --kuijpers-gray-600: #525252;
  --kuijpers-gray-700: #404040;
  --kuijpers-gray-800: #262626;
  --kuijpers-gray-900: #171717;
  
  /* Semantic Colors */
  --kuijpers-success: #22C55E;
  --kuijpers-warning: #F59E0B;
  --kuijpers-error: #EF4444;
  --kuijpers-info: #3B82F6;
}
